body {
    overflow-x: hidden;
}

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

/* navbar css */
.navbar {
    background-color: #2874f0;
    /* border: 2px solid red; */
    height: 60px;
    padding-top: 20px;
    padding-right: 98px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 600;
}

.container {
    display: inline;
    position: relative;
    top: -12px;
}

#tokri {
    position: relative;
    top: 12px;
    cursor: pointer;
}

.right {
    text-decoration: none;
    text-align: right;
    display: block;
    flex-direction: row;
}

.navbar ul li {
    list-style: none;
    display: inline;
    margin: 22px;
    color: white;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.mid {
    background: white;
    float: right;
    display: block;
    margin-right: 355px;
    float: inline-start;
    display: block;

}

.mid1 {
    display: block;
}

#searchicon img {
    /* justify-content: center; */
    position: relative;
    left: 690px;
    top: -31px;
    cursor: pointer;

}

input {
    padding: 8px 6px;
    width: 273px;
    margin-left: 455px;
    display: block;
    margin-top: -24px;
    /* border-radius: 12px; */
    text-align: left;
    justify-content: left;
    /* padding-left: 2px; */
    /* margin-left: 122px; */
}

button {
    color: blue;
    border: none;
    /* border: 2px solid black; */
    /* margin:auto; */
    padding: 7px 29px;
    background-color: white;
    cursor: pointer;
    margin-top: -27px;
    display: block;
    font-weight: bold;
    font-size: 15px;
}

.left {
    display: block;
    color: white;
    font-size: 16px;
    margin-top: -68px;
    margin-left: 318px;
}

span {
    font-size: 20px;

}

a {
    color: black;
    /* border: 2px solid red; */
    font-size: 12px;
    font-style: italic;
    margin-right: 12px;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

b {
    color: #ffe500;
}

.material {
    /* background-color: green; */
    display: flex;
    list-style: none;
    font-size: 14px;
    /* margin:0px 10px; */
}

span {
    font-weight: normal;
    font-size: 14px;
    /* border: 2px solid red; */
    justify-content: center;
    text-align: center;
}


.material li {
    padding: 12px 32px;
    display: block;
    cursor: pointer;
}

.material li img {
    width: 64px;
    height: 56px;
}

.offer img {
    width: 1368px;
    height: 236px;
}

#viewall {
    /* display: block; */
    /* border: 2px solid green; */
    width: 17%;
    height: 300px;
    /* overflow-x: hidden;
overflow-x: auto; */
    /* scroll-direction: horizontal; */

}

#viewall p {
    font-size: 30px;
    position: relative;
    top: 40px;
    left: 12px;
    text-align: center;
    /* font-weight: bold; */
}

#viewall img {
    position: relative;
    top: 90px;
}

#viewall button {
    background-color: blue;
    color: white;
    padding: 10px 12px;
    position: relative;
    top: 30%;
    left: 37%;
}

.item {
    width: 110%;
    /* overflow: hidden; */
    display: flex;
    /* display: block; */
    transform: rotate(180);
}
.overflow{
    overflow: hidden;
    scroll-behavior: smooth;
}
.internal{
    width: auto;
    display: inline-block;
}
#add{
    border: 2px solid green;
    width: 25%;
    height:auto;  
    height: 304px;
    
}
#right-button{
    border:0.5px solid gray; 
    /* border: 6px solid green;  */
    position: relative;
    right: 133px;
    /* bottom: 127px; */
    color: black;
    width: 24px;
    height: 110px;
    font-size: 44px;
    border-radius: 10px;
    background-color: white;
    top: 67px;
}
#right-button2{
    border:0.5px solid gray; 
    /* border: 6px solid green;  */
    position: relative;
    right: 133px;
    /* bottom: 127px; */
    color: black;
    width: 24px;
    height: 110px;
    font-size: 44px;
    border-radius: 10px;
    background-color: white;
    top: 67px;
}
#right-button3{
    border:0.5px solid gray; 
    /* border: 6px solid green;  */
    position: relative;
    right: 133px;
    /* bottom: 127px; */
    color: black;
    width: 24px;
    height: 110px;
    font-size: 44px;
    border-radius: 10px;
    background-color: white;
    top: 67px;
}
#left-button{
    z-index: 200;
     border:0.5px solid gray; 
     position: relative;
     top: 74px;
     color: black;
     width: 24px;
     height: 110px;
     font-size: 44px;
     border-radius: 10px;
     background-color: white;
     
}
#left-button2{
    z-index: 200;
     border:0.5px solid gray; 
     position: relative;
     top: 74px;
     color: black;
     width: 24px;
     height: 110px;
     font-size: 44px;
     border-radius: 10px;
     background-color: white;
     
}#left-button3{
    z-index: 200;
     border:0.5px solid gray; 
     position: relative;
     top: 74px;
     color: black;
     width: 24px;
     height: 110px;
     font-size: 44px;
     border-radius: 10px;
     background-color: white;
     
}
#content{
    scroll-behavior: smooth;
}
#content3{
    scroll-behavior: smooth;
}

#add img {
   
    width: 100%;
    float: right;
    height: 100%;

}

.computer {
    position: relative;
    left: 72px;
    /* overflow-wrap: normal; */
    padding: 12px;
    cursor: pointer;
    transition: transform .2s;
    overflow: hidden;
    /* border: 2px solid red; */
}

.computer:hover {
    overflow: hidden;
    transform: scale(1.05);
}

.itemname {
    font-size: 15px;
    position: relative;
    left: 130px;

    padding-top: 12px;
    /* border: 2px solid red; */
    width: 60%;

}

.goods {
    /* border: 2px solid red; */
    position: relative;
    left: 152px;

}

#monitor {
    position: relative;
    left: 151px;
    top: 12px;
}

.from {
    margin-top: 10px;
    color: green;
    width: 53%;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    left: 20px;
    float: right;
    /* border-color: 2px solid red; */
    /* overflow: hidden; */
    /* border: 2px solid red; */
}

#from {
    position: relative;
    top: 12px;
    left: 70px;
    /* border: 2px solid red; */
    text-align: center;
}

.dell {
    position: relative;
    top: -7px;
}

.toprated {
    margin-top: 8px;
    width: 35%;
    /* border: 2px solid red; */
    justify-content: center;
    color: gray;
    text-align: center;
    /* display: inline-block; */
    float: right;
}

.cycle {
    /* height: 48%; */
    /* width: 90%; */
    margin-top: 25px;
    margin-bottom: 30px;
}

.Premium {

    /* border: 2px solid red; */
    width: 90%;
    /* padding-left: 30px; */
    margin-left: -20px;
    justify-content: center;

}

.gym {
    position: absolute;
    top: 0;
    /* border: 3px solid blue; */
    padding-top: 0;
}

.baby {
    width: 70%;
    /* border: 2px solid red; */
    justify-content: right;
    text-align: right;
}

.caps {
    width: 70%;
    text-align: center;
}

.jeans {
    width: 90%;
    text-align: right;
}

.menjeans {
    width: 50%;
    /* position: relative; */
    /* top: 0;
    left: 12px; */
    /* border: 3px solid blue; */
    padding-top: 0;
    position: relative;
    left: 125px;
    top: 12px;
}

.sweatshirts {
    width: 70%;
    /* border: 2px solid red; */
    text-align: center;
}

.hero {
    /* border: 2px solid red; */
    position: relative;
    left: 10px;
    width: 85%;
    justify-content: right;
    text-align: right;
}

.my-class {
    width: 100px;
    /* border: 2px solid red; */
    position: relative;
    left: -20px;
}

.y-class {
    /* border: 2px solid red; */
    width: 90%;
    position: relative;
    left: 32px;
}

.Winter {
    height: 70%;
}